-- CreateTable
CREATE TABLE `abstract_submission` (
    `abstract_id` BIGINT NOT NULL AUTO_INCREMENT,
    `registration_id` BIGINT NOT NULL,
    `salutation` VARCHAR(10) NOT NULL,
    `first_name` VARCHAR(100) NOT NULL,
    `last_name` VARCHAR(100) NOT NULL,
    `designation` VARCHAR(150) NOT NULL,
    `abstract_title` VARCHAR(500) NOT NULL,
    `abstract_category` VARCHAR(150) NULL,
    `keywords` VARCHAR(500) NULL,
    `file_name` VARCHAR(255) NOT NULL,
    `file_type` ENUM('PDF', 'DOC', 'DOCX') NOT NULL,
    `file_size_kb` INTEGER NOT NULL,
    `abstract_file` MEDIUMBLOB NOT NULL,
    `submission_date` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `status` ENUM('SUBMITTED', 'UNDER_REVIEW', 'ACCEPTED', 'REJECTED', 'REVISION_REQUIRED') NULL DEFAULT 'SUBMITTED',
    `remarks` TEXT NULL,
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `uq_one_abstract_per_registration`(`registration_id`),
    PRIMARY KEY (`abstract_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `registered_master` (
    `registration_id` BIGINT NOT NULL AUTO_INCREMENT,
    `delegate_type` VARCHAR(100) NOT NULL,
    `salutation` VARCHAR(10) NULL,
    `first_name` VARCHAR(100) NOT NULL,
    `last_name` VARCHAR(100) NOT NULL,
    `gender` ENUM('MALE', 'FEMALE', 'OTHER') NULL,
    `affiliation` TEXT NULL,
    `email` VARCHAR(255) NOT NULL,
    `contact_no` VARCHAR(20) NULL,
    `city` VARCHAR(100) NULL,
    `postal_code` VARCHAR(20) NULL,
    `category` VARCHAR(150) NULL,
    `registration_fee_type` VARCHAR(255) NULL,
    `amount` DECIMAL(10, 2) NOT NULL,
    `payment_mode` VARCHAR(50) NULL,
    `transaction_id` VARCHAR(50) NULL,
    `transaction_date` DATE NULL,
    `abstract_submitted` BOOLEAN NULL DEFAULT false,

    UNIQUE INDEX `uq_registered_email`(`email`),
    PRIMARY KEY (`registration_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `abstract_submission` ADD CONSTRAINT `fk_abstract_registration` FOREIGN KEY (`registration_id`) REFERENCES `registered_master`(`registration_id`) ON DELETE CASCADE ON UPDATE NO ACTION;

